---
layout: single
title: "Publications"
author_profile: true
permalink: /publications/
---

{% for pub in site.data.publications %}
  <div class="publication">
    <div class="publication-title">
      {{pub.title}}
    </div>

    <div class="publication-detail">
      {% for type in site.data.publicationTypes %}
        {% if type.type == pub.type %}
          <span class="badge badge-{{type.badge}}">{{type.label}}</span>
        {% endif %}
      {% endfor %}

      <div>{{pub.authors}}</div>
      <div>{{pub.publication}}</div>
      <div>{{pub.date}}</div>

      <div class="publication-links">
        {% for link in pub.links %}
          {% assign baseUrl = "" %}
          {% if link.type == 'rel' %}
            {% assign baseUrl = site.url %}
          {% endif %}

          <a href="{{baseUrl}}{{link.url}}" target="_blank" onclick="sendEvent('Link Click', 'Publications', '{{link.title}} - {{pub.title}}')">
            {% if link.icon %}
              <i class="{{link.icon}} fa-fw" aria-hidden="true"></i>
            {% endif %}

            <span class="link-text">{{link.title}}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}