---
layout: single
title: "Publications"
author_profile: true
permalink: /publications/
---

{% for pub in site.data.publications %}
  <div class="publication">
    <div class="publication-title">
      {% if pub.url %}
        <a href="{{pub.url}}" target="_blank">{{pub.title}}</a>
      {% else %}
        {{pub.title}}
      {% endif %}
    </div>
    <div class="publication-type">{{pub.type}}</div>
    <div class="publication-authors">{{pub.authors}}</div>
    <div class="publication-pubname">{{pub.publication}}</div>
    <div class="publication-date">{{pub.date}}</div>
  </div>
{% endfor %}