---
layout: splash
title: "Home"
lead: Hi, I'm Michael.
excerpt: "I am a software engineer with a passion for technology."
header:
  overlay_image: images/splash-banner-image.jpg
  overlay_color: "#5e616c"
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
---

<div>
  <h2>Latest Posts</h2>
  <div style="padding-left: 15px;">
    {% assign post = site.posts[0] %}

    <h3 style="margin-top:3px;">
      {% if post.title %}
          <a href="{{ url }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </h3>
    <h4 style="margin-top:3px;">
      {{ post.date | date: '%B %d, %Y' }}
    </h4>

    {{ post.content | strip_html | truncatewords: 40 }}
  </div>
  <div style="padding-left: 15px;margin-top: 30px;">
    {% assign post = site.posts[1] %}

    <h3 style="margin-top:3px;">
      {% if post.title %}
      <a href="{{ url }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </h3>
    <h4 style="margin-top:3px;">
      {{ post.date | date: '%B %d, %Y' }}
    </h4>

    {{ post.content | strip_html | truncatewords: 40 }}
  </div>
</div>
