<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

{% if author.dev_to %}
<li>
  <a href="https://dev.to/{{ author.dev_to }}" itemprop="sameAs">
    <i class="fab fa-fw fa-dev" aria-hidden="true"></i> DEV.to
  </a>
</li>
{% endif %}


{% if author.orcid %}
<li>
  <a href="https://orcid.org/{{ author.orcid }}" itemprop="sameAs">
    <i class="fab fa-fw fa-orcid" aria-hidden="true"></i> ORCID
  </a>
</li>
{% endif %}