.card-link-list {
  .fa-envelope, .fa-envelope-square {
    color: $gray !important;
  }

  li {
    list-style-type: none !important;
  }

  a:hover {
    text-decoration: none !important;
    color: $primary-color;
  }

  a {
    color: $primary-color;
  }
}