.publication {
  margin-top: 25px;

  .publication-title {
    font-size: 20px;
  }

  .publication-detail {
    font-size: 15px;
    margin-left: 20px;

    .publication-links {
      a {
        margin-right: 15px;
        text-decoration: none;

        .link-text {
          text-decoration: underline;
        }
      }
    }
  }
}